@font-face {
    font-family: 'ms-sans-serif';
    src: url(Assets/Fonts/MS\ Sans\ Serif.ttf) format('truetype');
}

:root {

    --background: hsl(180, 100%, 25%);
    --main: hsl(0, 0%, 78%);
    --accent: hsl(243, 100%, 26%);
    --light-text: hsl(0, 0%, 100%);
    --dark-text: hsl(0, 0%, 0%);
    --light-border: hsl(0, 0%, 87%);
    --dark-border: hsl(0, 0%, 5%);
    --light-box-shadow: hsl(0, 0%, 87%);
    --dark-box-shadow: hsl(120, 0%, 52%);

    --border-width: 4px;
    --border-style: solid;

    --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
    --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);

    --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
    --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

/* Utility classes */
.flex {

    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-space-between {

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-end {

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

* {
    margin: 0;
    font-family: 'ms-sans-serif';
    box-sizing: border-box;
}

body {

    background-color: var(--background);
}

.salary-calculator {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -60%);
    padding: 4px;
    background-color: var(--main);
    border: var(--border-width) var(--border-style);
    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
}
.salary-calculator__title-bar {

/*  flex-space-between */
    gap: 5em;
    width: 100%;
    padding: 8px;
    background-color: var(--accent);
}

.title-bar__header {

    gap: 1em;
}

.header__title {

    font-size: 2rem;
    font-weight: 200;
    color: var(--light-text);
}

.title-bar__action-btns {

/*  flex */
    gap: 0.1em;
}

.action-btns__btn {

    width: 48px;
    height: 48px;
    padding: 4px;
    border: var(--border-width) var(--border-style);
    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
    background-color: var(--main);
    color: var(--dark-text);
    cursor: pointer;
}
.btn__icon {

    width: 100%;
    height: 100%;
}

.salary-calculator__tabs-bar {

    position: relative;
/*  flex-start */
    width: 90%;
    margin-block: 0.5em 0;
    margin-inline: auto;
}
.tabs-bar__btn {

    position: relative;
    top: 6px;
    padding: 8px 8px 16px 8px;
    font-size: 1.4rem;
    border-width: calc(var(--border-width) * 1.5) var(--border-width) 0 calc(var(--border-width) * 1.5);
    border-style: var(--border-style);
    border-color: var(--outwards-border);
    background-color: var(--main);
    color: var(--dark-text);
    cursor: pointer;
    z-index: 10;
}
.calculator-tab-btn {

    z-index: 12;
}
.configuration-tab-btn {
    z-index: 10;
}

.calculator-tab,
.configuration-tab {

    position: relative;
    width: 90%;
    margin-block: 0 0;
    margin-inline: auto;
    font-size: 1.2rem;
    padding: 20px;
    border: var(--border-width) var(--border-style);
    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
    z-index: 11;
}
.calculator-tab__label {

    color: var(--dark-text);
}
.row {

/*  flex-space-between */
    width: 100%;
    gap: 0.5em;
    margin-block: 0.5em;
}
.calculator-tab__input-container,
.configuration-tab__input-container {

    width: 20%;
    min-width: 25px;
    height: 40px;
    border: var(--border-width) var(--border-style);
    border-color: var(--inwards-border);
}
.calculator-tab__input-fields,
.configuration-tab__input-fields {

    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
}
.configuration-tab {

    display: none;
}

.divider-line {

    width: 90%;
    height: 4px;
    margin-block: 1em;
    margin-inline: auto;
}

.salary-calculator__results-box {

    min-height: 100px;
    width: 90%;
    margin-block: 0 1em;
    margin-inline: auto;
    padding: 10px;
    line-height: 1.3em;
    border: var(--border-width) var(--border-style);
    border-color: var(--inwards-border);
    background-color: var(--light-text);
}

.salary-calculator__dialog-box {

/*  flex-end */
    width: 90%;
    margin-block: 0.5em;
    margin-inline: auto;
}
.dialog-box__btns {

    padding: 8px;
    font-size: 1rem;
    border: var(--border-width) var(--border-style);
    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
    background-color: var(--main);
    color: var(--dark-text);
    cursor: pointer;
}

.task-bar {

/*  flex-space-between */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px;
    background-color: var(--main);
    border: var(--border-width) var(--border-style);
    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
}

.task-bar__btns-section {

/*  flex */
    gap: 1em;
}

.btns-section__btn {

/*  flex */
    gap: 0.4em;
    padding: 8px;
    font-size: 1.3rem;
    border: var(--border-width) var(--border-style);

    background-color: var(--main);
    color: var(--dark-text);
    cursor: pointer;
}

.start-btn {

    border-color: var(--outwards-border);
    box-shadow: var(--outwards-box-shadow);
}

.calculator-app-btn {

    border-color: var(--inwards-border);
    box-shadow: var(--inwards-box-shadow);
}

.task-bar__system-tray-section {

/*  flex */
    width: 100px;
    height: 50px;
    padding: 8px;
    font-size: 1.5rem;
    border: var(--border-width) var(--border-style);
    border-color: var(--inwards-border);
    box-shadow: var(--accent);
    background-color: var(--light-text);
    color: var(--dark-text);
    cursor: pointer;
}

.header__icon {

    width: 48px;
    height: 48px;
}
.start-btn__icon,
.calculator-app__icon {

    width: 24px;
    height: 24px;
}

.action-btns__btn:active,
.dialog-box__btns:active,
.btns-section__btn:active {
    
    border-color: var(--inwards-border);
    box-shadow: var(--inwards-box-shadow);
}