@font-face {
  font-family: "ms-sans-serif";
  src: url(/Assets/Fonts/MS\ Sans\ Serif.ttf) format("truetype");
}
:root {
  --border-width: 0.25rem;
  --border-style: solid;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "ms-sans-serif";
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  overflow: hidden;
}

/* Color Themes: */
.original {
  --background: hsl(180, 100%, 25%);
  --main: hsl(0, 0%, 78%);
  --accent: hsl(243, 100%, 26%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(0, 0%, 0%);
  --light-border: hsl(0, 0%, 87%);
  --dark-border: hsl(0, 0%, 5%);
  --light-box-shadow: hsl(0, 0%, 87%);
  --dark-box-shadow: hsl(120, 0%, 52%);
  --input-background: hsl(0, 0%, 95%);
  --windows-logo-top-left: hsl(0, 100%, 50%);
  --windows-logo-top-right: hsl(120, 100%, 50%);
  --windows-logo-bottom-left: hsl(240, 100%, 50%);
  --windows-logo-bottom-right: hsl(60, 100%, 50%);
  --app-logo-screen-color: hsl(180, 100%, 25%);
  --app-logo-light-main-parts: hsl(0, 0%, 76%);
  --app-logo-dark-main-parts: hsl(0, 0%, 51%);
  --app-logo-accent-parts: hsl(247, 100%, 25%);
  --app-logo-light-parts: hsl(0, 0%, 100%);
  --app-logo-dark-parts: hsl(0, 0%, 0%);
  --app-logo-text-color: hsl(0, 0%, 100%);
  --app-logo-input-background: hsl(0, 0%, 100%);
  --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
  --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);
  --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
  --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

.modern-dark {
  --background: hsl(0, 0%, 0%);
  --main: hsl(240, 15%, 9%);
  --accent: hsl(240, 6%, 30%);
  --light-text: hsl(240, 15%, 9%);
  --dark-text: hsl(36, 77%, 47%);
  --light-border: hsl(240, 6%, 30%);
  --dark-border: hsl(0, 0%, 0%);
  --light-box-shadow: hsl(243, 18%, 20%);
  --dark-box-shadow: hsl(220, 16%, 4%);
  --input-background: hsl(240, 5%, 20%);
  --windows-logo-top-left: hsl(36, 77%, 47%);
  --windows-logo-top-right: hsl(240, 6%, 30%);
  --windows-logo-bottom-left: hsl(240, 6%, 30%);
  --windows-logo-bottom-right: hsl(36, 77%, 47%);
  --app-logo-screen-color: hsl(0, 0%, 0%);
  --app-logo-light-main-parts: hsl(220, 16%, 24%);
  --app-logo-dark-main-parts: hsl(240, 15%, 19%);
  --app-logo-accent-parts: hsl(240, 6%, 30%);
  --app-logo-light-parts: hsl(240, 6%, 30%);
  --app-logo-dark-parts: hsl(240, 15%, 9%);
  --app-logo-text-color: hsl(36, 77%, 47%);
  --app-logo-input-background: hsl(240, 5%, 20%);
  --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
  --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);
  --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
  --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

.violet-dark {
  --background: hsl(288, 64%, 15%);
  --main: hsl(291, 51%, 26%);
  --accent: hsl(242, 66%, 37%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(283, 41%, 64%);
  --light-border: hsl(292, 26%, 46%);
  --dark-border: hsl(0, 0%, 0%);
  --light-box-shadow: hsl(292, 40%, 63%);
  --dark-box-shadow: hsl(292, 54%, 16%);
  --input-background: hsl(292, 54%, 20%);
  --windows-logo-top-left: hsl(283, 41%, 64%);
  --windows-logo-top-right: hsl(309, 65%, 54%);
  --windows-logo-bottom-left: hsl(309, 65%, 54%);
  --windows-logo-bottom-right: hsl(283, 41%, 64%);
  --app-logo-screen-color: hsl(291, 51%, 26%);
  --app-logo-light-main-parts: hsl(292, 26%, 46%);
  --app-logo-dark-main-parts: hsl(292, 54%, 16%);
  --app-logo-accent-parts: hsl(242, 66%, 37%);
  --app-logo-light-parts: hsl(292, 40%, 63%);
  --app-logo-dark-parts: hsl(0, 0%, 0%);
  --app-logo-text-color: hsl(283, 41%, 64%);
  --app-logo-input-background: hsl(292, 54%, 30%);
  --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
  --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);
  --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
  --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

.ninja-turtles {
  --background: hsl(132, 68%, 18%);
  --main: hsl(106, 73%, 36%);
  --accent: hsl(13, 83%, 50%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(0, 0%, 0%);
  --light-border: hsl(109, 60%, 45%);
  --dark-border: hsl(0, 0%, 0%);
  --light-box-shadow: hsl(112, 94%, 68%);
  --dark-box-shadow: hsl(111, 80%, 24%);
  --input-background: hsl(106, 68%, 72%);
  --windows-logo-top-left: hsl(112, 94%, 68%);
  --windows-logo-top-right: hsl(13, 83%, 50%);
  --windows-logo-bottom-left: hsl(13, 83%, 50%);
  --windows-logo-bottom-right: hsl(112, 94%, 68%);
  --app-logo-screen-color: hsl(132, 68%, 18%);
  --app-logo-light-main-parts: hsl(109, 60%, 45%);
  --app-logo-dark-main-parts: hsl(111, 80%, 24%);
  --app-logo-accent-parts: hsl(13, 83%, 50%);
  --app-logo-light-parts: hsl(112, 94%, 68%);
  --app-logo-dark-parts: hsl(0, 0%, 0%);
  --app-logo-text-color: hsl(106, 68%, 72%);
  --app-logo-input-background: hsl(106, 68%, 72%);
  --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
  --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);
  --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
  --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

.bee {
  --background: hsl(50, 79%, 31%);
  --main: hsl(52, 69%, 51%);
  --accent: hsl(0, 0%, 0%);
  --light-text: hsl(53, 78%, 70%);
  --dark-text: hsl(0, 0%, 0%);
  --light-border: hsl(51, 68%, 55%);
  --dark-border: hsl(0, 0%, 0%);
  --light-box-shadow: hsl(53, 78%, 70%);
  --dark-box-shadow: hsl(50, 80%, 17%);
  --input-background: hsl(52, 79%, 72%);
  --windows-logo-top-left: hsl(52, 69%, 51%);
  --windows-logo-top-right: hsl(52, 79%, 72%);
  --windows-logo-bottom-left: hsl(52, 79%, 72%);
  --windows-logo-bottom-right: hsl(52, 69%, 51%);
  --app-logo-screen-color: hsl(50, 79%, 31%);
  --app-logo-light-main-parts: hsl(53, 78%, 70%);
  --app-logo-dark-main-parts: hsl(50, 80%, 20%);
  --app-logo-accent-parts: hsl(0, 0%, 0%);
  --app-logo-light-parts: hsl(53, 78%, 70%);
  --app-logo-dark-parts: hsl(0, 0%, 0%);
  --app-logo-text-color: hsl(0, 0%, 0%);
  --app-logo-input-background: hsl(52, 79%, 72%);
  --outwards-border: var(--light-border) var(--dark-border) var(--dark-border) var(--light-border);
  --inwards-border: var(--dark-border) var(--light-border) var(--light-border) var(--dark-border);
  --outwards-box-shadow: var(--light-box-shadow) 1px 1px 0px 1px inset, var(--dark-box-shadow) -1px -1px 0px 1px inset;
  --inwards-box-shadow: var(--dark-box-shadow) 1px 1px 0px 1px inset, var(--light-box-shadow) -1px -1px 0px 1px inset;
}

/* Utility classes and mixins. */
/* App's desktop shortcut */
.dsk-shortcut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 2rem;
  left: 1rem;
  padding: 0.5rem;
  text-decoration: underline;
  color: var(--dark-text);
}
.dsk-shortcut:active {
  opacity: 0.5;
  background-color: var(--accent);
}
.dsk-shortcut .dsk-shortcut__icon {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.dsk-shortcut .dsk-shortcut__ttl {
  cursor: pointer;
}

/* Salary Calculator */
.sc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
  background-color: var(--main);
}
.sc--hidden {
  display: none;
}
.sc__ttl-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: var(--accent);
}
.sc__ttl-bar .ttl-bar__hdr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.sc__ttl-bar .ttl-bar__hdr .hdr__icon {
  width: 3rem;
  height: 3rem;
}
.sc__ttl-bar .ttl-bar__hdr .hdr__ttl {
  font-size: 2rem;
  font-weight: 200;
  color: var(--light-text);
}
.sc__ttl-bar .ttl-bar__act-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}
.sc__ttl-bar .ttl-bar__act-btns .act-btns__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.25rem;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  background-color: var(--main);
  color: var(--dark-text);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.sc__ttl-bar .ttl-bar__act-btns .act-btns__btn:active {
  border-color: var(--inwards-border);
  box-shadow: var(--inwards-box-shadow);
}
.sc__ttl-bar .ttl-bar__act-btns .act-btns__btn--maximize:active {
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
}
.sc__ttl-bar .ttl-bar__act-btns .act-btns__btn .btn__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.sc__tabs-swtchr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  position: relative;
  top: 0.75rem;
  width: 95%;
}
.sc__tabs-swtchr .tabs-swtchr__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.25rem;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  background-color: var(--main);
  color: var(--dark-text);
  cursor: pointer;
  padding-block: 12px 16px;
  padding-inline: 12px;
  font-size: 1.5rem;
  -webkit-clip-path: inset(0 0 6px 0);
          clip-path: inset(0 0 6px 0);
}
.sc__tabs-swtchr .tabs-swtchr__btn:active {
  border-color: var(--inwards-border);
  box-shadow: var(--inwards-box-shadow);
}
.sc__tabs-swtchr .tabs-swtchr__btn:active {
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
}
.sc__form {
  display: relative;
  width: 95%;
  z-index: 11;
}
.sc__form .form__tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  width: 100%;
  padding: 1rem;
}
.sc__form .form__tab .tab__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
}
.sc__form .form__tab .tab__row .tab__label {
  color: var(--dark-text);
}
.sc__form .form__tab .tab__row .tab__text-input {
  border: var(--border-width) var(--border-style);
  border-color: var(--inwards-border);
  color: var(--dark-text);
  background-color: var(--input-background);
  width: 8rem;
  height: 2rem;
  padding: 0.25rem;
}
.sc__form .form__tab .tab__row .tab__text-input:focus {
  outline: none;
}
.sc__form .form__results-box {
  border: var(--border-width) var(--border-style);
  border-color: var(--inwards-border);
  color: var(--dark-text);
  background-color: var(--input-background);
  min-height: 6.25rem;
  width: 95%;
  margin-block: 0.5rem;
  margin-inline: auto;
  padding: 10px;
  line-height: 1.3em;
}
.sc__form .form__dialog-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-block: 0 0.5rem;
  margin-inline: auto;
}
.sc__form .form__dialog-box .dialog-box__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.25rem;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  background-color: var(--main);
  color: var(--dark-text);
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}
.sc__form .form__dialog-box .dialog-box__btn:active {
  border-color: var(--inwards-border);
  box-shadow: var(--inwards-box-shadow);
}
.sc--calc-tab .sc__form .tab__row--config {
  display: none;
}
.sc--calc-tab .tabs-swtchr__btn--calc {
  z-index: 12;
}
.sc--calc-tab .tabs-swtchr__btn--config {
  z-index: 10;
}
.sc--config-tab .sc__form .tab__row--calc {
  display: none;
}
.sc--config-tab .tabs-swtchr__btn--config {
  z-index: 12;
}
.sc--config-tab .tabs-swtchr__btn--calc {
  z-index: 10;
}

/* Task bar */
.task-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  color: var(--dark-text);
  background-color: var(--main);
}
.task-bar .task-bar__start {
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  position: absolute;
  bottom: 5rem;
  left: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--main);
}
.task-bar .task-bar__start--hidden {
  display: none;
}
.task-bar .task-bar__start .start__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}
.task-bar .task-bar__start .start__list .item {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  color: var(--dark-text);
  cursor: pointer;
}
.task-bar .task-bar__start .start__list .item--original:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(243, 100%, 26%);
}
.task-bar .task-bar__start .start__list .item--modern-dark:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(33, 80%, 51%);
}
.task-bar .task-bar__start .start__list .item--violet-dark:hover {
  color: hsl(292, 40%, 63%);
  background-color: hsl(295, 56%, 20%);
}
.task-bar .task-bar__start .start__list .item--ninja-turtles:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(44, 81%, 61%);
}
.task-bar .task-bar__start .start__list .item--bee:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(190, 33%, 4%);
}
.task-bar .task-bar__apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3.125rem;
}
.task-bar .task-bar__apps .apps__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.25rem;
  border: var(--border-width) var(--border-style);
  border-color: var(--outwards-border);
  box-shadow: var(--outwards-box-shadow);
  background-color: var(--main);
  color: var(--dark-text);
  cursor: pointer;
  height: 100%;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.task-bar .task-bar__apps .apps__button:active {
  border-color: var(--inwards-border);
  box-shadow: var(--inwards-box-shadow);
}
.task-bar .task-bar__apps .apps__button--hidden {
  display: none;
}
.task-bar .task-bar__apps .apps__button--pressed {
  border-color: var(--inwards-border);
  box-shadow: var(--inwards-box-shadow);
}
.task-bar .task-bar__apps .apps__button .button__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.task-bar .task-bar__tray {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  border: var(--border-width) var(--border-style);
  border-color: var(--inwards-border);
  color: var(--dark-text);
  background-color: var(--input-background);
  width: 6rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */